
@{
    ViewBag.Title = "Report";
}

<div class=" row">
    <h2>Reports</h2>
</div>
<br />
<div class=" row">
    @Html.ActionLink("Inventory Report","InventoryReport", "Admin")
</div>

<div class=" row">
    @Html.ActionLink("Sales Report", "SalesReport", "Admin")
</div>